<footer>
  
</footer>

<script src="{{ "/js/jquery-1.10.2.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery-ui-1.10.4.custom.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/gsdk-checkbox.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/gsdk-radio.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/gsdk-bootstrapswitch.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/get-shit-done.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/custom.js" | prepend: site.baseurl }}"></script>